<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script>
            const data = JSON.parse('{{jsondata | tojson | safe}}');
            const feliz =  "{{url_for('static',filename='images/feliz.png')}}";
            const serio =  "{{url_for('static',filename='images/serio.png')}}";
            const triste = "{{url_for('static',filename='images/triste.png')}}";
        </script>
        <title>EmoTemp</title>
    </head>
    <body>
        <nav>
            <div id="logo">
                <span>E</span>
                <span>M</span>
                <span>🙂</span>
                <span>T</span>
                <span>E</span>
                <span>M</span>
                <span>P</span>
            </div>
        </nav>
        <main>
            <div id="container_d3">
                
                <svg id="graph" width="100%" height="100%"></svg>
            </div>
            <aside>
                <span>
                    <strong>
                        Tweets Destacados:
                    </strong>
                </span>
                <div id="detalles" ></div>
            </aside>
        </main>
    </body>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</html>