body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #262626;
}

/* .node {
    fill: #69b3a2;
} */

#container_d3 {
    border: 1px solid yellow;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 252, 116);
}


h1 {
    color: yellow;
    font-family: arial;

}

ul {
    /* position:absolute;
    top:50%;
    left:50%; 
    transform:translate(-50%,-50%);*/
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 10px;
    list-style: none;
    font-family: arial;
    font-size: 3em;
    letter-spacing: 15px;
    text-shadow: none;
    animation: animate 1s infinite linear;
}

@keyframes animate {
    0% {
        color: #484848;
        text-shadow: none;
    }

    18% {
        color: #484848;
        text-shadow: none;
    }

    20% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }

    30% {
        color: #484848;
        text-shadow: none;
    }

    35% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }

    70% {
        color: #484848;
        text-shadow: none;
    }

    85% {
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 20px #ff6c00;
    }

    90% {
        color: #484848;
        text-shadow: none;
    }

    100% {
        color: #484848;
        text-shadow: none;
    }

    ul li:nth-child(1) {
        animation-delay: .2s;
    }

    ul li:nth-child(2) {
        animation-delay: .8s;
    }

    ul li:nth-child(3) {
        animation-delay: 1.4s;
    }

    ul li:nth-child(4) {
        animation-delay: 2s;
    }

    ul li:nth-child(5) {
        animation-delay: 2.6s;
    }

    ul li:nth-child(6) {
        animation-delay: 3.2s;
    }

    ul li:nth-child(7) {
        animation-delay: 4s;
    }
}