@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;700;900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body {
    
    display: grid;
    grid-template-areas:
    "n m";
    grid-template-columns: 10vw 90vw;
    background-color: #EDEAE7;
}
nav{
    grid-area: "n";
    border-right: 1px gray solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#logo{
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.5rem;
}
#logo:hover{
    animation: logo-animation 0.5 linear;
    animation-delay: calc(.1s * var(--i));
}
@keyframes logo-animation {
    0%,40%,100% {
        transform: translateY(0)
    }
    20% {
    transform: translateY(-20px)
    }
}

main{
    grid-area: "m";
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}  
#container_d3 {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#000000 0.8px, #ffffff 0.8px);
    background-size: 16px 16px;
}
aside{
    width: 500px;
    background-color: #FFFFFF;
    padding: 8px;
}
.detail-item{
    border-bottom: 1px black solid;
    background-color: #F4F3F1;
    margin-top: 8px;
}
h1 {
    color: yellow;
    font-family: arial;

}